
<div class="comment-form">
    <form [formGroup]="form" (submit)="postComment()">
        <div class="form-floating my-2">
            <textarea formControlName="content" type="text" class="form-control" id="floatingInput1"> 
                  </textarea>
            <label for="floatingInput1">commento</label>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Post it</button>
        </div>
        <label *ngIf="formIsValid == false" class="text-danger">*Form is invalid</label>
    </form>
</div>

<div *ngFor="let comment of comments.reverse()" class="card card-comment m-3">
    <div class="card-head d-flex justify-content-between">
        <h3 class="mx-3 fs-5 mt-2">{{ comment.title }}</h3>
        <p *ngIf="comment.edited" class="edited-alert">edited</p>
        <p class="mx-3">{{ comment.date| date:'d MMM Y HH:mm' }}</p>
    </div>
    <div class="card-body p-0">
        <div class="d-flex justify-content-between">
            <p class="mx-3 my-0" *ngIf="!comment.isEditing">{{ comment.content }}</p>
            <input [(ngModel)]="comment.content" class="ms-2 comment-input" [value]="comment.content"
                *ngIf="comment.isEditing" type="text">
        </div>
        <div class="btns d-flex justify-content-between">
            <div class="upvote d-flex">
                <a class="button">⬆</a>
                <p>12</p>
                <a class="button">⬇</a>

            </div>
            <a *ngIf="canEditComment(comment)" (click)="changeComment(comment)" class="btn btn-warning m-0">Edit</a>
        </div>
    </div>

</div>